.container {
  width: 100%;
  margin: 2rem 0;
}

.message {
  margin-bottom: 2rem;
}

.message strong {
  color: var(--secondary);
}

.modal {
  position: fixed;
  background: rgba(13, 27, 42, 0.9);
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  overflow: hidden;
}

.modalImage {
  max-width: 80%;
  height: auto;
  pointer-events: none;
}

.closeIcon {
  position: absolute;
  font-size: 1.5rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.closeIcon:hover {
  color: var(--secondary);
}

.modalOpen {
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}