.searchBox {
  padding: 1rem;
}

.gifIcon svg{
  margin-right: 1rem;
}

.searchIcon {
  margin-right: 0.3rem;
}

.input {
  flex-grow: 1;
  margin-right: 1rem;
  width: 100%;
  font-size: 1rem;
}

.input label{
  color: var(--white);
}

.input input{
  color: var(--white);
}

.options {
  padding: 1rem;
  border-top: 1px solid var(--primary-lighter);
}

.options .trendingIcon {
  margin-right: 0.3rem;
}

.options .clearIcon {
  margin-right: 0.3rem;
}