.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border-radius: 0.4rem;
  cursor: pointer;
}

.card span {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  background: var(--primary-light);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  position: relative;
  background: #ccc;
  transform: scale(1.15);
  z-index: 10;
}

.card:hover span {
  transform: translateY(100%);
}

.img {
  width: 100%;
  display: block;
}