:root {
  --primary-dark: #0d1b2a;
  --primary: #1b263b;
  --primary-light: #273756;
  --primary-lighter: #3a517e;

  --secondary: #ff9b42;

  --light: #e0e1dd;
  --white: #ffffff;
  --black: #222222;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: var(--white);
  background-color: var(--primary-dark);
  font-family: 'Asap', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
  transition: all 1s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow: scroll;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.search {
  width: 100%;
  background-color: var(--primary);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  transition: all 1s ease-in-out;
}

.result {
  overflow: scroll;
  padding: 2rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.loading {
  padding: 3rem 0;
}

.loading .loadingGif {
  display: inline-block;
  font-size: 5rem;
  animation: rotating 2s infinite;
}